

.heading {
    text-align: center;
}

.imgContFlex {
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

.chooseOption{
    display: flex;
    justify-content: space-around;
    font-size:30px;
}

.imgBox {
    text-align:center;
}

.boxImg {
    cursor: pointer;
}

.boxImg *{
    width: 100px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;

}

.boxImg:hover {
    margin-top: -20px;
}

.imgText {
    font-size: 20px;
    margin: 10px;
}

.subheading{
    margin-right: 15px;
}
.scores {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px;
}

.last{
    font-size: 20px;
    text-align: center;
}

.resetBtnDiv{
    display: flex;
    justify-content: center;
    margin-top:30px;
}

.resetBtn{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    height:50px;
    width: 150px;
    color:crimson;
    border-radius: 5px;
    border-color:darksalmon;
}

/* .mainScreenContainer{
    display:flex;
} */