.heading {
    text-align: center;
}

.imgContFlex {
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
}

.imgBox {
    text-align: center;

}

.boxImg {
    margin-bottom: 10px;
    cursor: pointer;
}

.boxImg:hover {
    margin-top: -10px;

}

.imgText {
    font-size: 20px;
    margin: 10px;
}

.subheading{
    margin-right: 15px;
}
.scores {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
}

.mainScreenContainer{
    display:flex;
}